[include]
    # Go out to separate user information for private and company
    path = ~/.gitconfig.user
[core]
    autocrlf = input
    safecrlf = true
    editor = vim -c \"set fenc=utf-8\"
    quotepath = off
    excludesfile = /Users/masayuki/.gitignore_global
[alias]
    br = branch
    co = checkout
    cof = !git branch | fzf | xargs git checkout
    st = status
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    logs = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
    pfwl = push --force-with-lease
    rh = stash -u
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
    branch = cat
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
    side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[fetch]
    prune = true