[user]
    name = sitogi
    email = takano162@gmail.com
[core]
    autocrlf = input
    editor = vim -c \"set fenc=utf-8\"
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    logs = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short

